/*
* ==========================================================
*     CHARTS - PREMIUM
* ==========================================================
*/

.gauge-container {
    position: relative;
}

.gauge-canvas {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.gauge-label {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-size: 1.2rem;
    transform: translateX(-50%);
    font-weight: bold;
}

.sparklines {
    display: inline-block;
    margin-left: 20px;
}
